In [10]:
import numpy as np
import pandas as pd 
from sklearn.decomposition import PCA

dataset6 = pd.read_csv("F://dataset_6.csv")

x=dataset6.iloc[:,:-1]
y=dataset6.iloc[:,-1]

In [11]:
model=PCA(n_components=2)
model.fit(x)
created_data=pd.DataFrame(model.transform(x))
created_data.columns=['PC1', 'PC2']
created_data.index=dataset6.index
print(model.explained_variance_ratio_)

[9.99737649e-01 1.41917845e-04]

In [12]:
created_data

            PC1        PC2
0    347.389677   3.453494
1    672.360684   6.223621
2    549.459884  -0.291298
3   -269.152801  -4.103108
4    643.562702   6.210222
..          ...        ...
564  825.644608   3.957256
565  607.435811  -3.843375
566  203.898289  -7.802571
567  612.040081 -10.065129
568 -475.802609   1.904194

[569 rows x 2 columns]